n8n-workflows/ab-test-onboarding-steps.json
{
  "name": "AB Test - Onboarding Steps",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -64,
        -144
      ],
      "id": "7c2d2b19-f5fd-4121-885f-17a494187129",
      "name": "Telegram Trigger",
      "webhookId": "7418a836-fd0b-45b8-ab1e-c3654d2927e3",
      "credentials": {
        "telegramApi": {
          "id": "weZ47Yf47wiPZNMP",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5e222494-2c86-4859-af11-ca9e3e7f3d7a",
              "leftValue": "={{$json.message.text}}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        128,
        -144
      ],
      "id": "95aeb311-78f6-4716-8e06-c49bacc870ce",
      "name": "Not Start Command"
    },
    {
      "parameters": {
        "url": "https://iwexzxsgqhbavmaozmal.supabase.co/rest/v1/user_state",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "=eq.{{$json.message.from.id}}"
            },
            {
              "name": "select",
              "value": "current_step,name,goal"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        -160
      ],
      "id": "cdb06a95-17ed-458d-a5a3-74fc3ffdb94b",
      "name": "Check user_state",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "O7m45KkTxmQdL9Na",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2ca854fb-1d39-41a1-8851-e843bd7a1f8b",
              "leftValue": "={{$json.current_step}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        -160
      ],
      "id": "04b2ff8b-99bc-42e9-b993-aff930e92715",
      "name": "In Onboarding?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.current_step}}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2b53c429-a790-4434-b32f-39e22d9f9f97"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f98fd215-e193-4e9f-a19e-1bad7e7af4dd",
                    "leftValue": "={{$json.current_step}}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b8c07c6c-3565-4ecc-9fb0-eb32e44dacd1",
                    "leftValue": "={{$json.current_step}}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        832,
        -192
      ],
      "id": "c3bc5925-d4f1-4f0a-b13a-47724dc4f625",
      "name": "Which Step?"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://iwexzxsgqhbavmaozmal.supabase.co/rest/v1/user_state",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "=eq.{{$('Telegram Trigger').first().json.message.from.id}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{$('Telegram Trigger').first().json.message.text}}\",\n  \"current_step\": 2\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1072,
        -384
      ],
      "id": "85ed2e67-73ab-4641-b302-dbb911f4ece8",
      "name": "Supabase: Save Name",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "O7m45KkTxmQdL9Na",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://iwexzxsgqhbavmaozmal.supabase.co/rest/v1/events",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{$('Telegram Trigger').first().json.message.from.id}}\",\n  \"event_name\": \"onboarding_step_1_complete\",\n  \"group_name\": \"test\",\n  \"metadata\": {}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1488,
        -384
      ],
      "id": "d5e74e90-a9f1-4882-84f9-cd2fa4551452",
      "name": "Log Step 1 Complete",
      "credentials": {
        "httpHeaderAuth": {
          "id": "O7m45KkTxmQdL9Na",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://iwexzxsgqhbavmaozmal.supabase.co/rest/v1/user_state",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "=eq.{{$('Telegram Trigger').first().json.message.from.id}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"goal\": \"{{$('Telegram Trigger').first().json.message.text}}\",\n  \"current_step\": 3\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1072,
        -176
      ],
      "id": "9f0fed2e-cae0-4efd-a1d4-21dfdea9d007",
      "name": "Supabase: Save Goal",
      "credentials": {
        "httpHeaderAuth": {
          "id": "O7m45KkTxmQdL9Na",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$('Telegram Trigger').first().json.message.chat.id}}",
        "text": "=Great goal! 💪  Step 3 of 3: How many meals do you eat per day?  Just type a number like 3",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1280,
        -176
      ],
      "id": "74980759-a5d2-4041-ada0-c609bf65aac9",
      "name": "Telegram: Ask Meals",
      "webhookId": "d117635d-381e-4d18-949a-542e8417b3a5",
      "credentials": {
        "telegramApi": {
          "id": "weZ47Yf47wiPZNMP",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$('Telegram Trigger').first().json.message.chat.id}}",
        "text": "=Nice to meet you! 😊\n\nStep 2 of 3: What's your main health goal?\n\nFor example: Lose weight, Build muscle, Eat healthier",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1280,
        -384
      ],
      "id": "f7a0c8a0-3443-45a9-a0af-0fb68bcef3fe",
      "name": "Telegram: Ask Goal",
      "webhookId": "ccad91f8-78d8-434a-b7c6-23979185203f",
      "credentials": {
        "telegramApi": {
          "id": "weZ47Yf47wiPZNMP",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://iwexzxsgqhbavmaozmal.supabase.co/rest/v1/events",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{$('Telegram Trigger').first().json.message.from.id}}\",\n  \"event_name\": \"onboarding_step_2_complete\",\n  \"group_name\": \"test\",\n  \"metadata\": {}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1488,
        -176
      ],
      "id": "75073b1c-ea3f-463e-95d7-a67398c027e5",
      "name": "Log Step 2 Complete",
      "credentials": {
        "httpHeaderAuth": {
          "id": "O7m45KkTxmQdL9Na",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://iwexzxsgqhbavmaozmal.supabase.co/rest/v1/user_state",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "=eq.{{$('Telegram Trigger').first().json.message.from.id}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"current_step\": 0\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1072,
        32
      ],
      "id": "7a620bc0-3360-4007-8e79-7b84cd55bb58",
      "name": "Complete Onboarding",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "O7m45KkTxmQdL9Na",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$('Telegram Trigger').first().json.message.chat.id}}",
        "text": "=You're all set! 🎉\n\nHere's how to use CalorAI:\n\n/log - Log a meal\n/history - See your meal history\n/delete - Remove a meal\n\nLet's start your health journey! 💪",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1280,
        32
      ],
      "id": "a9d3ff17-3d50-4254-9832-38dcba0470eb",
      "name": "Telegram: Send Completion",
      "webhookId": "d117635d-381e-4d18-949a-542e8417b3a5",
      "credentials": {
        "telegramApi": {
          "id": "weZ47Yf47wiPZNMP",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://iwexzxsgqhbavmaozmal.supabase.co/rest/v1/events",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{$('Telegram Trigger').first().json.message.from.id}}\",\n  \"event_name\": \"onboarding_complete\",\n  \"group_name\": \"test\",\n  \"metadata\": {}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1488,
        32
      ],
      "id": "67d28502-2a01-4ec0-9987-80945b04ae16",
      "name": "Log Step 3 Complete1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "O7m45KkTxmQdL9Na",
          "name": "Header Auth account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Not Start Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Start Command": {
      "main": [
        [
          {
            "node": "Check user_state",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check user_state": {
      "main": [
        [
          {
            "node": "In Onboarding?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "In Onboarding?": {
      "main": [
        [
          {
            "node": "Which Step?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Which Step?": {
      "main": [
        [
          {
            "node": "Supabase: Save Name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase: Save Goal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Complete Onboarding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Save Name": {
      "main": [
        [
          {
            "node": "Telegram: Ask Goal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Save Goal": {
      "main": [
        [
          {
            "node": "Telegram: Ask Meals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram: Ask Meals": {
      "main": [
        [
          {
            "node": "Log Step 2 Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram: Ask Goal": {
      "main": [
        [
          {
            "node": "Log Step 1 Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complete Onboarding": {
      "main": [
        [
          {
            "node": "Telegram: Send Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram: Send Completion": {
      "main": [
        [
          {
            "node": "Log Step 3 Complete1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8468e80a-cf7e-449f-acfb-6fc534ecf8fb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "46b1d99a6db06bc30d07ce095fa7344f2dabd6fdc77b5fbbb65d4d8c70131ccd"
  },
  "id": "ZfLiigFFLzNTdeYV",
  "tags": []
}